<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Redefinição de senha</title>
    <style>
      p { font-family: Arial, Helvetica, sans-serif; font-size: 16px; } a {
      text-decoration: none; list-style: none; }
    </style>
  </head>
  <body>
    <div>
      <p>Olá {{name}}, tudo bem?</p>

      <p>
        Segue link para redefinição de senha:
        <a href='http://localhost:3000/password/reset?token={{token}}'>Clique
          aqui</a>
      </p>

      <p>Caso não tenha solicitado, entre em contato com nossa equipe.</p>

      <p>Atenciosamente</p>
    </div>
  </body>
</html>